p {
  line-height: 1.7rem;
}

li {
  margin: 1rem 0;
}

blockquote {
  color: black;
  background-color: rgba(0, 0, 0, 0.04);
  display: block;
  border-radius: 12px;
  margin: 0;
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

a {
  text-decoration: none;
}

code {
  background-color: #e7f5ff;
  color: #339af0;
  font-size: 1rem;
  border-radius: 6px;
  padding: 2px 4px;
}