p {
  line-height: 1.5rem;
}

li {
  margin: 1rem 0;
}

blockquote {
  color: black;
  background-color: rgba(0, 0, 0, 0.04);
  display: block;
  border-radius: 12px;
  margin: 0;
  padding-block-start: 1em;
  padding-block-end: 1em;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.deckgo-highlight-code-carbon > .container {
  background-color: red;
}