@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
       url('../fonts/SpoqaHanSansNeo-Bold.woff')
       url('../fonts/SpoqaHanSansNeo-Bold.woff2')
       url('../fonts/SpoqaHanSansNeo-Bold.eot')
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 500;
  src: local('Spoqa Han Sans Medium'),
       url('../fonts/SpoqaHanSansNeo-Medium.woff')
       url('../fonts/SpoqaHanSansNeo-Medium.woff2')
       url('../fonts/SpoqaHanSansNeo-Medium.eot')
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
       url('../fonts/SpoqaHanSansNeo-Regular.woff')
       url('../fonts/SpoqaHanSansNeo-Regular.woff2')
       url('../fonts/SpoqaHanSansNeo-Regular.eot')
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
       url('../fonts/SpoqaHanSansNeo-Light.woff')
       url('../fonts/SpoqaHanSansNeo-Light.woff2')
       url('../fonts/SpoqaHanSansNeo-Light.eot')
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local('Spoqa Han Sans Thin'),
       url('../fonts/SpoqaHanSansNeo-Thin.woff')
       url('../fonts/SpoqaHanSansNeo-Thin.woff2')
       url('../fonts/SpoqaHanSansNeo-Thin.eot')
}